.whole {
    height: 90%;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    position: absolute;
    background-color: var(--white);
}

.half {
    height: 90%;
    width: 47%;
    position: absolute;
}

.left {
    composes: half;
    left: 2.5%;
    background-color: var(--black);
}

.right {
    composes: half;
    right: 2.5%;
    background-color: var(--green);
}

.quarter {
    height: 46.5%;
    position: inline-block;
}
.upper {
    margin-top: 3%;
    margin-bottom: 2%;
}
.lower {
    margin-bottom: 3%;
    margin-top: 2%;
}
.qL{
    margin-left: 2.5%;
}
.qR {
    margin-right: 2.5%;
}
.qUL {
    composes: quarter;
    composes: upper;
    composes: qL;
    background-color: var(--gray);
}

.qLL {
    composes: quarter;
    composes: lower;
    composes: qL;
    background-color: var(--violet);
}

.qUR {
    composes: quarter;
    composes: upper;
    composes: qR;
    background-color: var(--gray);

}

.qLR {
    composes: quarter;
    composes: lower;
    composes: qR;
    background-color: var(--violet);
}

.halfUQ {
    composes: quarter;
    /* composes: UQ; */
    height: 25%;
    /* margin-top: 2%; */
    /* composes: lower; */
    background-color: var(--greenLight);
    
}

.halfLQ {
    composes: quarter;
    /* composes: UQ; */
    height: 25%;
    /* margin-bottom: 2%; */
    background-color: var(--gray);
    
}

.q75 {
    height: 72.5%;
    width: 95%;
    top: 25%;
    left: 2.5%;
    right: 2.5%;
    position: absolute;
    background-color: var(--gray);
}
.decorationTab {
    height: 22.5%;
    left: 2.5%;
    width: 47%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    background-color: var(--violet);
}
.decorationTabLeft {
    margin-right: .5%;
    top: 30%;
    width: 47%;
    height: 55%;
    display: flex;
    border-radius: 30px;
    background-color: var(--white);
}

.decorationTabRight {
    margin-left: .5%;
    top: 30%;
    width: 47%;
    height: 55%;
    display: flex;
    border-radius: 30px;
    background-color: var(--greenLight);
}