.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: var(--white);
  }
  
  .linkActive {
    composes: link;
    /* font-weight: 800; */
    color: var(--green);
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 12px;
    /* font-weight: 700; */
    /* color: var(--white); */
    /* font: 18px Arial, sans-serif bold; */
    /* margin: 0; */
  }

