.form {
    width: 320px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid rgba(14,243,135,1);
    background-color: rgba(12,13,13,1);
    border-radius: 12px;
    font: inherit;
    /* line-height: 16px; */
    letter-spacing: 0.01em;
    resize: none;
  }